@page
@model SacramentMtgPlanner.Pages.Meetings.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Meeting Details</h1>

<div>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Meeting.DateOfMeeting)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Meeting.DateOfMeeting)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Meeting.ConductingLeader)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Meeting.ConductingLeader)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Meeting.OpeningHymn)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Meeting.OpeningHymn)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Meeting.OpeningPrayer)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Meeting.OpeningPrayer)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Meeting.SacramentHymn)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Meeting.SacramentHymn)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Meeting.MusicalNumber)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Meeting.MusicalNumber)
        </dd>
        <dt class="col-sm-2">
            Meeting Topics
        </dt>
        <dd class="col-sm-10">
            @foreach (var topic in Model.Meeting.Topics)
            {
                <div>@topic</div>
            }
        </dd>
        <!-- Display each speaker on its own line -->
        <dt class="col-sm-2">
            Meeting Speakers
        </dt>
        <dd class="col-sm-10">
            @foreach (var speaker in Model.Meeting.Speakers)
            {
                <div>@speaker</div>
            }
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Meeting.IntermediateHymn)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Meeting.IntermediateHymn)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Meeting.ClosingPrayer)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Meeting.ClosingPrayer)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Meeting.ClosingHymn)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Meeting.ClosingHymn)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Meeting.Id">Edit</a> |
    <a asp-page="./Index">Back to All Meetings</a>
</div>
