@page
@model SacramentMtgPlanner.Pages.Meetings.IndexModel

@{
    ViewData["Title"] = "All Meetings";
}

<h1>Meetings Planned</h1>

<p>
    <a asp-page="Create">Plan New Meeting</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                <a asp-page="./Index" asp-route-sortOrder="@Model.DateSort">
                    @Html.DisplayNameFor(model => model.Meeting[0].DateOfMeeting)
                </a>
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Meeting[0].ConductingLeader)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Meeting[0].OpeningHymn)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Meeting[0].SacramentHymn)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Meeting[0].ClosingHymn)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Meeting[0].MusicalNumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Meeting[0].IntermediateHymn)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Meeting[0].OpeningPrayer)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Meeting[0].ClosingPrayer)
            </th>
            <th>
                <a asp-page="./Index" asp-route-sortOrder="@Model.DateSort">
                    @Html.DisplayNameFor(model => model.Meeting[0].Speakers)
                </a>
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Meeting[0].Topics)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Meeting) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.DateOfMeeting)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ConductingLeader)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.OpeningHymn)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SacramentHymn)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ClosingHymn)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MusicalNumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IntermediateHymn)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.OpeningPrayer)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ClosingPrayer)
            </td>
                <td>
                    @foreach (var speaker in item.Speakers)
                    {
                        @speaker <br />
                    }
                </td>
                <td>
                    @foreach (var topic in item.Topics)
                    {
                        @topic <br />
                    }
                </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.Id">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
